
.nav-wrapper {
    background-color: #3FD146;
}
.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #3FD146;
}
header img {
    height: 65px;
}
#icono1 {
    font-size: 218px;
}
#icono2 {
    float:right;
    position:relative;
    right:-215px;
    font-size: 218px;
}
#icono3 {
    float: right;
    position: relative;
    right: -100px;
    font-size: 218px;
}