
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>MiniMarket</title>
</head>
<body>
    <h2>MiniMarket</h2>

    <!--Menus-->
    <div class="row">
        <div class="col l9 s12">
            <i id="icono1" class="material-icons">account_circle</i>
            <i id="icono2" class="material-icons">local_shipping</i>
            <i id="icono3" class="material-icons">add_shopping_cart</i>
        </div>
    </div>

    
</body>
</html>