<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/main.css">
    <link href="~/Materialize/css/materialize.css" rel="stylesheet">
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Skranji" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Css/font-awesome.min.css">
    <title>Inicio</title>
</head>
<body>
    <!--Cabezote-->
    <header>
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo" href="@Url.Action("Index", "Home")"> <img src="~/Img/Logo.jpg" /> </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a>@Html.ActionLink("Registro De Usuarios!", "Create", "Clientes")</a></li>
                    <li><a>@Html.ActionLink("Registro De Proveedores!", "Create", "Proveedors")</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!--Render body-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!--Footer-->
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Diseñado Por</h5>
                        <p class="grey-text text-lighten-4">Thomas Caycedo Martinez</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Contactanos</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://github.com/Thomascm19">GitHub</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/thomas.caycedomartinez">Facebook</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://twitter.com/thomascaycedo">Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2018 Copyright

                </div>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/slide.js"></script>
    <script src="~/Materialize/js/materialize.min.js"></script>
</body>
</html>